{{#each movie}}
	{{#if added}}
	<div class="col-md-3">
		<div class="closeButton">X</div>
	{{else}}
	<div class="col-md-3 notAdded">
	{{/if}}	
	{{#if Poster}}
			<img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" class="movieCast" alt="{{Title}}" data-toggle="modal" data-target="#movieInfoModal" id="{{imdbID}}">
		{{else}}
			<div class="noposter movieCast" data-toggle="modal" data-target="#movieInfoModal" id="{{imdbID}}">{{Title}}</div>
	{{/if}}
	{{#if added}}
		{{#if watched}}
			<span>Rating</span>
			{{else}}
				<button class="watch btn btn-primary" data-toggle="modal" data-target="#starRatingModal" id="{{@key}}">Watched?</button>
		{{/if}}

		{{else}}
			<button class="add btn btn-primary" imdb="{{imdbID}}">Add</button>
	{{/if}}	
	</div>
{{/each}}